﻿<%@ Page Title="Numero di telefono" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false" CodeBehind="AddPhoneNumber.aspx.vb" Inherits="Emmemedia.AddPhoneNumber" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="ContentMainPh" runat="server">
    <h2><%: Title %>.</h2>

    <div class="form-horizontal">
        <h4>Aggiungere un numero di telefono</h4>
        <hr />
        <asp:ValidationSummary runat="server" CssClass="text-danger" />
        <p class="text-danger">
            <asp:Literal runat="server" ID="ErrorMessage" />
        </p>
        <div class="form-group">
            <asp:Label runat="server" AssociatedControlID="PhoneNumber" CssClass="col-md-2 control-label">Numero di telefono</asp:Label>
            <div class="col-md-10">
                <asp:TextBox runat="server" ID="PhoneNumber" CssClass="form-control" TextMode="Phone" />
                <asp:RequiredFieldValidator runat="server" ControlToValidate="PhoneNumber"
                    CssClass="text-danger" ErrorMessage="Il campo Numero di telefono è obbligatorio." />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <asp:Button runat="server" OnClick="PhoneNumber_Click"
                    Text="Invia" CssClass="btn btn-default" />
            </div>
        </div>
    </div>
</asp:Content>
