﻿<%@ Page Title="" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false" CodeBehind="Lockout.aspx.vb" Inherits="Emmemedia.Lockout" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="ContentMainPh" runat="server">
    <hgroup>
        <h1>Bloccato.</h1>
        <h2 class="text-danger">Questo account è stato bloccato, riprovare più tardi.</h2>
    </hgroup>
</asp:Content>
