﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="RegisterExternalLogin.aspx.vb" Inherits="Emmemedia.RegisterExternalLogin" EnableEventValidation="false" %>

<%@ Import Namespace="Emmemedia" %>
<%@ Import Namespace="Microsoft.AspNet.Identity" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="ContentMainPh">
    <h3>Esegui registrazione con account <%: ProviderName %> personale</h3>

    <div class="form-horizontal">
        <h4>Form di associazione</h4>
        <hr />
        <asp:ValidationSummary runat="server" ShowModelStateErrors="true" CssClass="text-danger" />
        <p class="text-info">
            L'utente ha eseguito l'autenticazione con <strong><%: ProviderName %></strong>. Immettere di seguito un nome utente per il sito corrente
                e fare clic sul pulsante Accedi.
        </p>

        <div class="form-group">
            <asp:Label runat="server" AssociatedControlID="email" CssClass="col-md-2 control-label">Posta elettronica</asp:Label>
            <div class="col-md-10">
                <asp:TextBox runat="server" ID="email" CssClass="form-control" TextMode="Email" />
                <asp:RequiredFieldValidator runat="server" ControlToValidate="email"
                    Display="Dynamic" CssClass="text-danger" ErrorMessage="Il campo Posta elettronica è obbligatorio" />
                <asp:ModelErrorMessage runat="server" ModelStateKey="email" CssClass="text-error" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <asp:Button runat="server" Text="Accedi" CssClass="btn btn-default" OnClick="LogIn_Click" />
            </div>
        </div>
    </div>
</asp:Content>