﻿<div class="row">
    <div class="span2 post-info">
        <div class="date">
            #DATA#
            <br>
            #AUTORE#
        </div>
    </div>
    <div class="span8">
        <h4><a title="#TITOLO#" href="#LINK#">#TITOLO#</a></h4>
        <h6>#SOTTOTITOLO#</h6>
        <div class="preview-img">
            <a href='#LINK#'>
                <img alt="#TITOLO#" src='#IMG#' /></a>
        </div>
        <p>
            #TESTO_B#
            <br />
            Condividi
            <br />
            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.emmemedia.com#LINK#" target="_blank" title="Condividi su Facebook"><i class="icon-facebook" style="font-size: 24px; margin-right: 10px;"></i></a>
            <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.emmemedia.com#LINK#" target="_blank" title="Condividi su Twitter"><i class="icon-twitter" style="font-size: 24px; margin-right: 10px;"></i></a>
            <a href="https://plusone.google.com/_/+1/confirm?hl=it&url=http%3A%2F%2Fwww.emmemedia.com#LINK#" target="_blank" title="Condividi su Google+"><i class="icon-google-plus" style="font-size: 24px;"></i></a>
        </p>

        <div class="row">
            <hr class="span8 dotted">
        </div>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 text-right datiBlog'>
        <div class='date'>
            #DATA#
        </div>
        <div class='date'>
            Condividi su :
            <br />
            <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.fulgorgas.it#LINK#" target="_blank" title="Condividi su Facebook"><i class="fa fa-facebook" aria-hidden="true" style="font-size: 24px; margin-right: 10px;"></i></a>
            <a href="https://twitter.com/share?url=http%3A%2F%2Fwww.fulgorgas.it#LINK#" target="_blank" title="Condividi su Twitter"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 24px; margin-right: 10px;"></i></a>
            <a href="https://plusone.google.com/_/+1/confirm?hl=it&url=http%3A%2F%2Fwww.fulgorgas.it#LINK#" target="_blank" title="Condividi su Google+"><i class="fa fa-google-plus" aria-hidden="true" style="font-size: 24px;"></i></a>
        </div>
    </div>
    <article itemscope itemtype='http://schema.org/Article' class='col-md-9'>
        <h1 class='titolo-blog-news' itemprop='headline name'>
            <a title="#TITOLO#" href="#LINK#">#TITOLO#</a>
        </h1>
        <h2 class='blog-title'>
            <a title="#TITOLO#" href="#LINK#">#TITOLO#</a>
        </h2>
        <p>
            <strong>#SOTTOTITOLO#</strong>
        </p>
        <div class="preview-img">
            <a href='#LINK#'>
                <img class="img-responsive thumbnail" alt="#TITOLO#" src='#IMG#' />
            </a>
        </div>
        <div itemprop='articleBody'>
            <p>#TESTO_B#</p>
            <p>
                <a class="btn btn-default btn-block" href='#LINK#'>Leggi di più</a>
            </p>
        </div>
    </article>
</div>

<i class="fa fa-facebook" aria-hidden="true"></i>