<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="Footer02.ascx.vb" Inherits="Emmemedia.Footer02" %>
<!-- ====================================== FOOTER ====================================== -->
<footer class="module">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-center col-xs-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" version="1.1" x="0px" y="0px" viewBox="0 0 241 52" xml:space="preserve" enable-background="new 0 0 241 52">
                    <path class="st0" d="M39.7 7.4c-0.1-0.5-0.1-0.6-0.4-0.7 -0.9-0.1-2.2-0.4-4.2-0.4 -2.5 0-3.9 0.4-5.2 1.3 -0.4 0.3-1.7 1.3-1.7 3.4 0 1.1 0.1 3 3.6 4.3 4 1.6 4.6 1.9 4.6 3 0 1.2-0.9 1.8-2.5 1.8 -0.9 0-2.4-0.3-3.8-1 -0.1-0.1-0.9-0.6-0.9-0.6 -0.1 0-0.2 0-0.3 0.1l-0.6 0.3C28 19.2 28 19.3 28 19.7l0.1 1.8c0 0.4 0.1 0.5 0.4 0.6 1.5 0.3 3 0.5 4.4 0.5 2.2 0 3.4-0.4 3.9-0.6 3.3-1.1 3.7-3.5 3.7-4.5 0-3-2.7-4.1-4.8-5 -2.6-1-3.5-1.4-3.5-2.3 0-1.6 2-1.6 2.3-1.6 0.8 0 2.2 0.1 3.5 0.7 0.1 0.1 0.7 0.4 0.8 0.4 0.1 0 0.2-0.1 0.3-0.1l0.6-0.4c0.2-0.1 0.2-0.2 0.2-0.6L39.7 7.4zM41.2 6.7V9H47v13.3h4.5V9h5.9V6.7H41.2zM69.7 15v-1.8h-6.9V8.7h7.7V6.9H58.9V22h12v-2h-8V15H69.7zM111.2 6.7v15.6h4.5v-6.9h6.6V13h-6.6V9h7.9V6.7H111.2zM128.3 16.1l2.2-5.4 2 5.4H128.3zM133.2 6.7h-3.5l-7.5 15.6h3.6l1.6-3.9h5.7l1.4 3.9h5.1L133.2 6.7zM147 13.7c-0.5 0-1 0-1.6 0v-5l1.6 0c1.7 0 2.9 0.4 2.9 2.3C149.9 13.2 148.8 13.7 147 13.7M156.4 20.8c-2.5-0.4-4.6-4.2-5.4-5.7 3-0.8 3.6-2.8 3.6-4.1 0-1.3-0.6-2.4-1.5-3.2 -1.3-1.1-3.1-1.2-5.3-1.2 -0.5 0-0.8 0-3.2 0.1 -1.2 0-2.4 0-3.6 0v15.6h4.3v-6.6h1.1c2.6 5.5 4.5 6.9 7.4 6.9 0.8 0 1.6-0.1 2.1-0.3 0.2 0 0.3-0.1 0.3-0.4l0.1-1L156.4 20.8zM185 16.1l2.2-5.4 1.9 5.4H185zM190 6.7h-3.5l-7.5 15.6h3.6l1.6-3.9h5.7l1.4 3.9h5.1L190 6.7zM194.6 42.1c-1.2-0.3-2 0.3-2 1.5 0 1.2 0.8 2.2 2 2.4 1.2 0.3 2-0.3 2-1.5C196.6 43.4 195.8 42.4 194.6 42.1M226.9 40.2c-1.2 0.5-2.1 1.6-2.1 2.8 0 1.1 0.8 1.6 2.1 1.1 1.2-0.5 2-1.6 2-2.8C228.9 40.1 228.1 39.7 226.9 40.2M94.6 6.9h-4V22h4V6.9zM102.4 6.9h-4V22H109v-2h-6.6V6.9zM79.3 14c-0.2 0-0.5 0-0.8 0 -0.3 0-0.6 0-0.9 0h-0.3V8.4l1.9 0c1.4 0 3.1 0.3 3.1 2.5C82.4 13.6 80.8 14 79.3 14M83 15.2l-0.2-0.3 0.3-0.1c3-0.8 3.5-2.8 3.5-3.9 0-1.2-0.5-2.2-1.4-3 -1.3-1.1-2.9-1.2-5.1-1.2 -0.5 0-0.8 0-3.2 0.1 -0.6 0-1.2 0-1.8 0 -0.5 0-1.1 0-1.6 0V22h3.8v-6.6h1.6l0.1 0.1c2.6 5.7 4.6 6.8 7.2 6.8 0.8 0 1.5-0.1 2.1-0.3l0.1 0c0 0 0 0 0-0.1l0.1-0.9C85.9 20.5 83.7 16.5 83 15.2M237.9 38.4l-1.4 1 -3.6-1.4v4.1l-1.6 1.2v-6.5l1.5-1.1 3.4 1.4v-4l1.6-1.2V38.4zM226.9 45.5c-2.4 0.9-3.7-0.2-3.7-1.8 0-1.6 1.3-3.8 3.7-4.8 2.4-1 3.7 0.3 3.7 1.8C230.6 42.3 229.2 44.5 226.9 45.5M221.9 47l-1.6 0.4V41l1.6-0.4V47zM219.2 42.5l-2.3 0.3v5.3l-1.6 0.2v-5.3l-2.3 0.3v-1.2l6.3-0.8V42.5zM211.8 45.8c0 2.1-1.5 2.9-3.2 2.9 -1.9 0-3.2-0.8-3.2-2.8v-3.7h1.6V46c0 0.9 0.7 1.4 1.6 1.4 0.8 0 1.6-0.5 1.6-1.6v-3.6l1.6 0V45.8zM204.3 48.7l-4.9-0.5v-6.4l1.6 0.1v5.3l3.3 0.3V48.7zM194.6 47.4c-2.4-0.5-3.7-2.5-3.7-4.1 0-1.6 1.3-3 3.7-2.4 2.4 0.6 3.7 2.6 3.7 4.1C198.3 46.6 196.9 47.9 194.6 47.4M187.7 45.2l-2.7-6.8v0.5l-3.1-2.2v1.4l3 2.1v1.2l-3-2.1v1.6L185 43v1.2l-4.8-3.3v-6.4l4.5 3.1 1.6 0.6 1.7 4.3 1.6-3 1.7 0.7 -3 5.3L187.7 45.2zM170.4 17.3L173 12l0.2 6.2C172.2 17.7 171.3 17.4 170.4 17.3M160.9 21.7v-9.8l3.3 7C163 19.6 161.9 20.5 160.9 21.7M185.3 30.5c-1.7-1.7-3.9-5.1-5.5-6.9 -0.7-0.8-1.4-1.5-2.1-2.2L177 6.7h-3.9L168 17.3c0 0-0.1 0-0.1 0l-5.1-10.6h-3.9l-1 15.6h2.6c-5.5 6.2-9.9 15.9-15.9 16.4 -0.5 0-1-0.1-1.5-0.3 -6.4-2.2-12.2-7-18.3-10 -5.5-2.7-10.5-4.8-15.1-6.4v0.5H97.9v-4.1c-0.9-0.2-1.9-0.4-2.8-0.6v4.6h-5v-5.4c-1.9-0.2-3.8-0.3-5.5-0.3 1.5 2.3 2.9 3.6 4.2 3.8l0.1 0 0.2 0.3L88.9 22c0 0.3-0.1 0.5-0.5 0.6 -0.5 0.2-1.4 0.3-2.2 0.3 -3 0-4.9-1.5-7.1-5.9 -0.4 0-0.8 0.1-1.2 0.1v5.4h-4.8v-4.6c-2.2 0.4-4.3 1-6.5 1.6h4.8v3H58.4v-0.4c-8.9 3-19.1 6.4-33.5 8.1C22.5 30.5-9 34.9 4.4 22.4c0 0-4.9 2.8-4.3 7 1.7 11.7 19.3 8.3 25.6 7.6 43-5 47.7-25.6 96-2.4 8.7 4.2 17.2 11.6 23.4 11v0c4.4-0.3 9.1-6.1 14.5-11.6 8.8-9.1 11.9 2.1 17.9 8.2 13.9 13.9 49 12.9 63.6-1.6V17.4C234 30.6 196.5 41.8 185.3 30.5M192.9 5.1V1.2h1.7c0.3 0 0.6 0 0.8 0.1 0.2 0.1 0.3 0.2 0.4 0.4 0.1 0.2 0.2 0.4 0.2 0.6 0 0.3-0.1 0.5-0.3 0.7 -0.2 0.2-0.5 0.3-0.8 0.4 0.1 0 0.2 0.1 0.3 0.2 0.1 0.1 0.3 0.3 0.4 0.5l0.7 1.1h-0.6l-0.5-0.8c-0.2-0.2-0.3-0.4-0.4-0.5 -0.1-0.1-0.2-0.2-0.3-0.3 -0.1 0-0.2-0.1-0.2-0.1h-0.3 -0.6v1.7H192.9zM193.4 2.9h1.1c0.2 0 0.4 0 0.5-0.1 0.1 0 0.2-0.1 0.3-0.2 0.1-0.1 0.1-0.2 0.1-0.3 0-0.2-0.1-0.3-0.2-0.5 -0.1-0.1-0.3-0.1-0.6-0.1h-1.2V2.9zM194.3 0c1.7 0 3.2 1.4 3.2 3.1 0 1.7-1.4 3.1-3.2 3.1 -1.7 0-3.2-1.4-3.2-3.1C191.1 1.4 192.5 0 194.3 0M194.3 0.4c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C197 1.7 195.8 0.4 194.3 0.4" />
                </svg>
            </div>
            <div class="col-md-2 col-xs-6">
                <h2 class="h4">Uffici e Deposito</h2>
                <p>
                    Interporto di Nola
                            <br>
                    Lotto D1, Blocco A1
                            <br>
                    Mod. 135/136
                            <br>
                    80035 - Nola (NA) Italy
                </p>
                <p>
                    Tel. +39 081 5108887
                            <br>
                    Fax. +39 081 5109406
                </p>
            </div>
            <div class="col-md-2 col-xs-6">
                <h2 class="h4">Sterilfarma srl</h2>
                <p>
                    Via Senigallia 18/2
                            <br>
                    Torre A 20161 - Milano
                </p>
                <p>
                    Tel. +39 02 64672692
                            <br>
                    Fax. +39 02 64672400
                </p>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <h2 class="h4">Sitemap</h2>
                <ul class="list-unstyled">
                    <li><a href="#">Gravidanza &amp; Primi mesi</a>
                    </li>
                    <li><a href="#">Prodotti</a>
                    </li>
                    <li><a href="#">I Consigli del Pediatra</a>
                    </li>
                    <li><a href="#">Ricerche per la Mamma</a>
                    </li>
                    <li><a href="#">Contatti</a>
                    </li>
                    <li><a href="#">Punti Vendita</a>
                    </li>
                    <li><a href="#">Sterilfarma Club</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-12">
                <h2 class="h4">Servizio Clienti</h2>
                <p>
                    Siamo a vostra disposizione
                            <br>
                    per qualsiasi informazione.
                </p>
                <h2 class="h4">Seguici sui social</h2>
                <ul class="list-inline">
                     <li><a href="https://www.facebook.com/SterilFarmaItalia/?fref=ts" target="_blank"><span class="ion ion-social-facebook"></span></a></li>
                    <li><a href="https://twitter.com/sterilfarma_it" target="_blank"><span class="ion ion-social-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/sterilfarma/" target="_blank"><span class="ion ion-social-instagram"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copy module-short">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="/images/num-verde.png" alt="">
            </div>
            <div class="col-md-8">
                <p class="pull-left">Copyright © 2016 - All rights reserved - Sterilfarma s.r.l. / P.iva 00000000000 / Privacy Policy</p>
                <p class="pull-right"><a href="http://www.emmemedia.com">emmemedia</a></p>
            </div>
        </div>
    </div>
</div>