$xs-1: 320px;
$xs-2: 480px;
$xs-3: 600px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$superlg: 1500px;
$superlg-2: 1920px;
/* range */
@mixin mobile-down {
	@media only screen and (max-width: #{$xs-1 - 1px}){
		@content;
	}
}
@mixin mobile-sm {
	@media only screen and (max-width: #{$sm - 1px}){
		@content;
	}
}
@mixin desktop-sm {
	@media only screen and (max-width: #{$md - 1px}){
		@content;
	}
}
@mixin large-desktop-down {
	@media only screen and (max-width: #{$lg - 1px}){
		@content;
	}
}

@mixin tablet-up {
	@media only screen and (min-width: #{$sm}){
		@content;
	}
}
@mixin desktop-up {
	@media only screen and (min-width: #{$md}){
		@content;
	}
}
@mixin large-desktop {
	@media only screen and (min-width: #{$lg}){
		@content;
	}
}
@mixin super-large-desktop-down {
	@media only screen and (max-width: #{$superlg}){
		@content;
	}
}
@mixin super-large-desktop-up {
	@media only screen and (min-width: #{$superlg}){
		@content;
	}
}
@mixin super-large-2-desktop-up {
	@media only screen and (min-width: #{$superlg-2}){
		@content;
	}
}
/* specifiche */

@mixin phone-portrait {
	@media only screen and (min-width: #{$xs-1}) and (max-width: #{$xs-2 - 1px}) {
		@content;
	}
}
@mixin phone-landscape {
	@media only screen and (min-width: #{$xs-2}) and (max-width: #{$xs-3 - 1px}) {
		@content;
	}
}
@mixin smallTablet {
	@media only screen and (min-width: #{$xs-3}) and (max-width: #{$sm - 1px}) {
		@content;
	}
}
@mixin bigTablet {
	@media only screen and (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
		@content;
	}
}
@mixin desktop {
	@media only screen and (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
		@content;
	}
}
@mixin desktop-lg {
	@media only screen and (min-width: #{$lg}) and (max-width: #{$superlg + 1px}) {
		@content;
	}
}
@mixin super-large-desktop {
	@media only screen and (min-width: #{$superlg}) and (max-width: #{$superlg-2}) {
		@content;
	}
}
@mixin little-large-desktop {
	@media only screen and (min-width: #{$md}) and (max-width: #{$superlg}) {
		@content;
	}
}