body {
  font-family: $first-font;
  color: #333;
  font-size: 14px;
}

form {
  height: 100%;
  width: 100%;
}

html {
  font-size: 100%;
  /*-webkit-font-smoothing: antialiased; */
}

a {
  color: #333;
  &:hover, &:focus, &:visited, &:active {
    color: #333;
    text-decoration: none;
  }
}


/*======= FIXES=======*/
.select-custom {
  background: transparent;
  color: $first-color;
  border: 1px solid #ddd;
}
.form-control {
  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);
}
.breads {
  background: $light-grey;
  .breadcrumb {
    color: $grey;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 0;
    background: $light-grey;
    margin-bottom: 0;
  }
  .breadcrumb > .active {
    color: $grey;
  }
  .breadcrumb > li + li:before {
    color: $grey;
    content: " > ";
  }
}

.bolder {
  font-family: $heading-font-family;
  font-weight: 800;
}
.languages {
  padding: 15px;
}
.btn {
  @include border-top-radius(40px);
  @include border-right-radius(40px);
  @include border-bottom-radius(40px);
  @include border-left-radius(40px);
}
.wrap-nav {
  max-width: 1600px;
  margin: 0 auto;
}
// .wrap-slider {
//   max-width: 1920px;
//   margin: 0 auto;
//   height: 100%;
//   // @include desktop-sm {
//   //   display: none;
//   // }
// }
.wrap {
  max-width: 1600px;
  margin: 0 auto;
}
/*=========TOP=============*/    
.logo-sec {
  padding-top: 15px;
  padding-bottom: 15px;
  .ion {
    font-size: 24px;
  }
}
/*======navbar==========*/
.navbar-default {
  border-radius: 0;
  height: 60px;
  line-height: 74px;
  border-top: 2px solid $first-color;
  @include desktop-sm {
    height: auto;
  }
  .navbar-brand {
    @include desktop-sm {
      padding: 15px 0;
    }
  } 
  .social-top {
    ul {
      list-style: none;
      li {
        float: right;
        margin-left: 15px;
        .ion {
          font-size: 18px;
          color: $second-color;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: $light-grey;
    margin: 20px 0 0 0;
    &:hover, &:focus, &:visited, &:active {
      background: $first-color;
    }
    &:hover .icon-bar, &:focus .icon-bar, &:visited .icon-bar, &:active .icon-bar {
      background-color: white;
    }
    .icon-bar {
      border-color: $grey;
      width: 35px;
    }
  }
  .navbar-nav {
    text-align: center;
    float: none;
    @include desktop-sm {
      margin-top: 21px;
    }
    .social-mobile {
      text-align: center;
      border-top: 1px solid #072152;
      ul {
        li {
          display: inline-block;
          &.col-xs-6 {
            padding-left: 0;
            padding-right: 0;
          }
          a {
            display: block;
            &.border-right {
              border-right: 1px solid #072152;
            }
            .ion {
              font-size: 24px;
              color: white;
            }
          }
        }
      }
    }
    @include desktop-sm {
      background: $second-color;
    }
    > li {
      display: inline-block;
      float: none;
      @include desktop-sm {
        display: block;
      }
      > a {
        color: $grey;
        text-transform: uppercase;
        font-family: $first-font;
        letter-spacing: 1px;
        font-size: 12px;
        @include desktop-sm {
          color: white;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        @include desktop {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      &.dropdown {
        &.open {
          background: $first-color;
        }
      }
    }
    > .open > a {
      color: white;
    }
    > .open > a:hover {
      color: white;
    }
    > .open > a:focus {
      color: white;
    }
  }
  .dropdown-menu {
    background: $first-color;
    font-family: $first-font;
    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    // left: 25px;
    min-width: 65px;
    text-align: center;
    top: 30px;
    > li {
      > a { 
        color: white;
        padding: 3px 9px;
        text-transform: uppercase;
        font-size: 12px;
      } 
    }
  }
  &.shrink {
    background: white;
    height: 77px;
    line-height: 74px;
    position: fixed;
    width: 100%;
    z-index: 11;
    top:0;
    &.bordered {
      border-bottom: 1px solid #ddd;
    }
    .navbar-nav {
      background: white;
      @include desktop-sm {
        background: $second-color;
      }
      > li {
        > a {
          
        }
      }
    }
    .dropdown-menu {
      background: white;
      > li {
        > a { 
          color: $first-color;
          padding: 6px;
          text-transform: uppercase;
          font-size: 12px;
        } 
      }
    }
  }
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $grey;
}
.navbar-default.shrink .navbar-nav > .open > a, .navbar-default.shrink .navbar-nav > .open > a:hover, .navbar-default.shrink .navbar-nav > .open > a:focus {
  color: $grey;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -30px;
}

.login-top {
  margin-top: 15px;
  text-transform: uppercase;
}

/*Page Wrapper */


.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  z-index: 9;
  // @include desktop-sm {
  //   z-index: 9;
  // }
}

.page-container:after {
  visibility: hidden;
  opacity: 0;
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  transition: all 0.35s cubic-bezier(0.29, 0.63, 0.44, 1);
}



/*==========SLIDER HOME==========*/

.slider-home {
  background: $light-grey;
  padding-top: 60px;
  height: 730px;
  margin-bottom: 60px;
  @include super-large-desktop-down {
    padding-top: 30px;
    height: auto;
    margin-bottom: 30px;
  }
  @include desktop-sm {
    margin-bottom: 0;
  }
  @include desktop {
    margin-bottom: 0;
  }
  .owl-wrapper-outer {
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
  }
  .owl-theme {
    .owl-controls {
      position: relative;
      bottom: 90px;
      @include desktop-sm {
        bottom: 40px;
      }
      @include desktop {
        bottom: 40px;
      }
    }  
  }
  .owl-theme .owl-controls .owl-page span {
    // opacity: 1;
  }
  .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: white;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
  }
  .caption {
    position: absolute;
    top: 30%;
    left:0;
    width: 100%;
    //@include transform(translateY(-50%));
    text-align: center;
    @include desktop {
      top: 15%;
    }
    .h2 {
      color: white;
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 1px;
      @include phone-portrait {
        font-size: 18px;
      }
      @include phone-landscape {
        font-size: 24px;
      }
    }
    p {
      color: white;
      @include desktop-sm {
        display: none;
      }
      &.btn {
        color: $second-color;
        margin-top: 40px;
        padding: 15px 90px;
        text-transform: uppercase;
        font-weight: 500;
        background: white;
        letter-spacing: 1px;
        border: $second-color;
        font-family: $heading-font-family;
        .ion {
          margin-left: 10px;
          @include transition(transform 0.2s ease-in-out);
        }
        &:hover {
          .ion {
            @include transform(translateX(50%));
          }
        }
        @include phone-portrait {
          display: none;
        }
      }
    }
  }
}

/*========CORPO HOME========*/
.prodotti-home {
  margin-top: 60px;
  margin-bottom: 100px;
  @include super-large-desktop-up {
    margin-top: 100px;
  }
  @include super-large-desktop-down {
    margin-top: 30px;
  }
  @include desktop-sm {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-top: 30px;
  }
  .title {
    .h3 {
      font-size: 30px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 30px;
      @include desktop-sm {
        font-size: 24px;
      }
    }
  }
  .prod {
    @include desktop-sm {
      margin-bottom: 30px;
    }
    .border-box {
      border: 1px solid #ddd;
      text-align: center;
      @include border-top-radius(8px);
      @include border-right-radius(8px);
      @include border-bottom-radius(8px);
      @include border-left-radius(8px);
      padding: 30px;
      @include transition(all 0.5s ease-in-out);
      @include phone-portrait {
        padding: 5px;
      }
      @include mobile-sm {
        padding: 0;
        border: none;
      }
      &:hover {
        border: none;
        background: $first-color;
        @include transform(scale(1.05));
        @include mobile-sm {
          @include transform(scale(1));
          background: transparent;
        }
        img {
          @include transform(translateZ(0));
        }
        .h3 {
          color: white;
          @include mobile-sm {
            color: $second-color;
          }
        }
        .h5 {
          color: white;
          @include mobile-sm {
            color: $first-color;
          }
        }
        p {
          color: white;
          @include mobile-sm {
            color: inherit;
          }
        }
        .btn {
          color: $second-color;
          background: white;
          @include mobile-sm {
            color: white;
            background: $first-color;
          }
          .ion {
            @include transition(transform 0.2s ease-in-out);
          }
          &:hover {
            .ion {
              @include transform(translateX(50%));
            }
          }
        }
      }
      .h3 {
        font-size: 24px;
        color: $second-color;
        font-weight: 500;
        height: 50px;
        @include bigTablet {
          height: 80px;
          font-size: 18px;
        }
        @include mobile-sm {
          height: 50px;
          font-size: 14px;
        }
      }
      .h5 {
        font-size: 12px;
        color: $first-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include mobile-sm {
          height: 50px;
        }
      }
      hr {
        border-color: $light-grey;
        @include phone-portrait {
          display: none;
        }
      }
      p {
        @include mobile-sm {
          display: none;
        }
      }
      .btn {
        color: white;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 500;
        background: $first-color;
        letter-spacing: 1px;
        font-family: $heading-font-family;
        // @include phone-portrait {
        //   @include border-top-radius(0);
        //   @include border-right-radius(0);
        //   @include border-bottom-radius(0);
        //   @include border-left-radius(0);
        // }
        .ion {
          margin-left: 10px;
          @include transition(transform 0.2s ease-in-out);
          @include mobile-sm {
            margin-left: 0;
          }
        }
        &:hover {
          .ion {
            @include transform(translateX(50%));
          }
        }
        @include mobile-sm {
          padding: 15px 5px;
        }
        @include phone-portrait {
          padding: 5px;
          font-size: 10px;
        }
      }
    }
  }
}
.section-macros {
  background: $light-grey;
  margin-top: 180px;
  margin-bottom: 80px;
  @include desktop-sm {
    margin-top: 0;
    background: transparent;
  }
  .cont-flex-01 {
    @include desktop-up {
      margin-top: -80px;
      @include align-items(baseline);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
    }
    @include desktop-sm {
      padding-left: 30px;
    }
  }
  .cont-flex-02 {
    @include desktop-up {
      margin-top: -230px;
      @include align-items(flex-end);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
    }
    @include desktop-sm {
      padding-left: 30px;
    }
  }
  .cont-flex-03 {
    @include desktop-up {
      position: relative;
      z-index: 2;
      margin-top: 100px;
      @include align-items(flex-start);
      @include display(flex);
      @include flex-direction(row);
      @include justify-content(flex-start);
      height: 600px;
    }
    @include desktop-sm {
      padding-left: 30px;
    }
  }
  .row-bg {
    @include desktop-up {
      background: url("../images/ground_img.png") no-repeat center center;
      background-size: 30%;
      height: 800px;
    }
  }
  .row {
    @include desktop-sm {
      // margin-top: 30px;
    }
    &:after {
      @include desktop-sm {
        content: "";
        border-bottom: 1px solid #ddd;
        display: block;
        padding-bottom: 45px;
        margin-bottom: 60px;
      }
    }
  }
  img {
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 12px;
    color: $first-color;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    @include desktop-sm {
      font-size: 18px;
    }
  }
  p {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .btn {
    color: $second-color;
    background: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: $heading-font-family;
    padding: 10px 30px;
    .ion {
      margin-left: 10px;
      @include transition(transform 0.2s ease-in-out);
      @include mobile-sm {
        margin-left: 0;
      }
    }
    &:hover {
      .ion {
        @include transform(translateX(50%));
      }
    }
    @include desktop-sm {
      color: $second-color;
      background: white;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: $heading-font-family;
      padding: 10px 30px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 15px #ddd;
    }
  }
}

.partner-ideale {
  margin-top: -80px;
  .flex-cont{
    background: url("../images/bg-partner-ideale.jpg") no-repeat center center;
    background-size: cover;
    height: 800px;
    @include desktop-up {
      text-align: center;
      position: relative;
      z-index: 1;
      @include align-items(center);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
    }
    @include desktop-sm {
      background-size: 100%;
      height: auto;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @include mobile-sm {
      height: auto;
      background-size: cover;
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    @include desktop-sm {
      margin-top: 15px;
      display: none;
    }
  }
  img {
    margin-bottom: 45px;
    @include desktop-sm {
      display: none;
    }
  }
  .btn {
    color: $second-color;
    background: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: $heading-font-family;
    padding: 10px 30px;
    .ion {
      margin-left: 10px;
      @include transition(transform 0.2s ease-in-out);
      @include mobile-sm {
        margin-left: 0;
      }
    }
    &:hover {
      .ion {
        @include transform(translateX(50%));
      }
    }
    @include bigTablet {
      display: block;
      font-size: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.blog-home {
  margin-top: 100px;
  padding-bottom: 100px;
  @include desktop-sm {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    .h3 {
      font-size: 30px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }
  .blog-article {
    @include desktop-sm {
      margin-bottom: 30px;
    }
    img {
      @include border-top-radius(4px);
      @include border-right-radius(4px);
      @include border-bottom-radius(4px);
      @include border-left-radius(4px);
    }
    .h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      color: $first-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $first-font;
    }
    .h4 {
      color: $second-color;
      font-weight: 500;
      font-family: $heading-font-family;
      height: 80px;
      @include phone-portrait {
        font-size: 12px;
      }
    }
    .btn {
      margin-top: 20px;
      color: $second-color;
      background: white;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: $heading-font-family;
      padding: 10px 30px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 15px #ddd;
      .ion {
        margin-left: 10px;
        @include transition(transform 0.2s ease-in-out);
        @include mobile-sm {
          margin-left: 0;
        }
      }
      &:hover {
        .ion {
          @include transform(translateX(50%));
        }
      }
      @include phone-portrait {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}
/*=======BLOG=============*/
.blog {
  margin-top: 100px;
  padding-bottom: 100px;
  @include desktop-sm {
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    .h3 {
      font-size: 30px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 60px;
    }
  }
  .blog-article {
    @include desktop-sm {
      margin-bottom: 30px;
    }
    img {
      @include border-top-radius(4px);
      @include border-right-radius(4px);
      @include border-bottom-radius(4px);
      @include border-left-radius(4px);
      @include transition(transform 0.2s ease-in-out);
      &:hover {
        @include transform(scale(1.05));
      }
    }
    .h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 12px;
      color: $first-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $first-font;
    }
    .h4 {
      color: $second-color;
      font-weight: 500;
      font-family: $heading-font-family;
      height: 80px;
      @include phone-portrait {
        font-size: 12px;
      }
    }
    .btn {
      margin-top: 20px;
      color: $second-color;
      background: white;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      font-family: $heading-font-family;
      padding: 10px 30px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 15px #ddd;
      .ion {
        margin-left: 10px;
        @include transition(transform 0.2s ease-in-out);
        @include mobile-sm {
          margin-left: 0;
        }
      }
      &:hover {
        .ion {
          @include transform(translateX(50%));
        }
      }
      @include phone-portrait {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .marginRow {
    @include desktop-up {
      margin-top: 30px;
    }
  }  
}
.blog-article-section {
  margin-top: 100px;
  margin-bottom: 100px;
  img {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  .navigation {
    @include desktop-sm {
      margin-top: 60px;
    }
    .h4 {
      font-size: 18px;
      color: $second-color;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 20px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
        a {
          text-transform: uppercase;
          letter-spacing: 1px;
          &:focus, &:visited, &:active {
            color: $grey;
          }
          &:hover {
            color: $first-color;
          }
        }
      }
    }
  }
}
/*==========SLIDE TOP=============*/
.slide-top {
  .bg-slide-top {
    background: url("../images/slide-top.jpg") no-repeat center center;
    background-size: cover;
    height: 250px;
    color: white;
    .h3 {
      margin-top: 85px;
      font-size: 30px;
    }
    p {

    }
  }
}
/*==========AZIENDA===============*/
.desc-page-azienda {
  padding-top: 70px;
  padding-bottom: 100px;
  background: $light-grey;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-top: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
}
.corpo-azienda {
  padding-top: 100px;
  padding-bottom: 100px;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-bottom: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
}
.bottom-banners-azienda {
  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 100px;
  .bg-01 {
    background: url("../images/azienda/banner-vendita.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include desktop-sm {
      margin-bottom: 30px;
    }
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .bg-02 {
    background: url("../images/azienda/banner-assistenza.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .bg-03 {
    background: url("../images/azienda/banner-noleggio.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    &:hover {
      @include transform(scale(1.05));
    }
    @include desktop-sm {
      margin-bottom: 30px;
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
    @include desktop {
      font-size: 21px;
    }
  }
}
/*==========ASSISTENZA===============*/
.desc-page-assistenza {
  padding-top: 70px;
  padding-bottom: 100px;
  background: $light-grey;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-top: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
}
.corpo-assistenza {
  padding-top: 100px;
  padding-bottom: 100px;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-bottom: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
  ul {
    margin-top: 30px;
    list-style: none;
  }
}
.bottom-banners-assistenza {
  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 100px;
  .bg-01 {
    background: url("../images/azienda/banner-vendita.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include desktop-sm {
      margin-bottom: 30px;
    }
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .bg-02 {
    background: url("../images/azienda/banner-noleggio.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
  }
}
/*==========VENDITA===============*/
.desc-page-vendita {
  padding-top: 70px;
  padding-bottom: 100px;
  background: $light-grey;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-top: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
}
.corpo-vendita {
  padding-top: 100px;
  padding-bottom: 100px;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 45px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  img {
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    box-shadow: 0px 0px 30px $grey;
    // &:hover {
    //   @include transform(scale(1.05));
    // }
    @include desktop-sm {
      margin-bottom: 30px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
  ul {
    margin-top: 30px;
    list-style: none;
  }
}
.bottom-banners-vendita {
  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 100px;
  .bg-01 {
    background: url("../images/azienda/banner-noleggio.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include desktop-sm {
      margin-bottom: 30px;
    }
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .bg-02 {
    background: url("../images/azienda/banner-assistenza.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
  }
}

/*==========NOLEGGIO==============*/
.desc-page {
  padding-top: 70px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  background: $light-grey;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  @include tablet-up {
    .marginTop {
      margin-top: 30px;
    }
  }
}
.prodotti-noleggio {
  margin-top: 60px;
  @include super-large-desktop-up {
    margin-top: 100px;
  }
  @include super-large-desktop-down {
    margin-top: 30px;
  }
  @include desktop-sm {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-top: 30px;
  }
  .navigation {
    @include desktop-sm {
      margin-bottom: 30px;
      text-align: center;
    }
    .h4 {
      font-size: 18px;
      color: $second-color;
      font-weight: 500;
      margin-top: 0;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 10px;
        a {
          text-transform: uppercase;
          letter-spacing: 1px;
          &:focus, &:visited, &:active {
            color: $grey;
          }
          &:hover {
            color: $first-color;
          }
        }
      }
    }
  }
  .prod {
    margin-bottom: 30px;
    @include desktop-sm {
      height: 480px;
    }
    @include phone-portrait {
      height: 310px;
    }
    @include desktop {
      height: 430px;
    }
    @include large-desktop {
      height: 510px;
    }
    .border-box {
      border: 1px solid #ddd;
      text-align: center;
      @include border-top-radius(8px);
      @include border-right-radius(8px);
      @include border-bottom-radius(8px);
      @include border-left-radius(8px);
      padding: 30px;
      @include transition(all 0.5s ease-in-out);
      @include phone-portrait {
        padding: 5px;
      }
      @include mobile-sm {
        padding: 0;
        border: none;
      }
      &:hover {
        border: none;
        background: $first-color;
        @include transform(scale(1.05));
        @include mobile-sm {
          @include transform(scale(1.0));
          background: transparent;
        }
        .h3 {
          color: white;
          @include mobile-sm {
            color: $second-color;
          }
        }
        .h5 {
          color: white;
          @include mobile-sm {
            color: $first-color;
          }
        }
        p {
          color: white;
          @include mobile-sm {
            color: inherit;
          }
        }
        .btn {
          color: $second-color;
          background: white;
          @include mobile-sm {
            color: white;
            background: $first-color;
          }
          .ion {
            @include transition(transform 0.2s ease-in-out);
          }
          &:hover {
            .ion {
              @include transform(translateX(50%));
            }
          }
        }
      }
      .h3 {
        font-size: 24px;
        color: $second-color;
        font-weight: 500;
        height: 50px;
        @include bigTablet {
          height: 80px;
          font-size: 18px;
        }
        @include mobile-sm {
          height: 50px;
          font-size: 14px;
        }
      }
      .h5 {
        font-size: 12px;
        color: $first-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include mobile-sm {
          height: 50px;
        }
      }
      hr {
        border-color: $light-grey;
        @include phone-portrait {
          display: none;
        }
      }
      p {
        @include mobile-sm {
          display: none;
        }
      }
      .btn {
        color: white;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 500;
        background: $first-color;
        letter-spacing: 1px;
        font-family: $heading-font-family;
        .ion {
          margin-left: 10px;
          @include transition(transform 0.2s ease-in-out);
          @include mobile-sm {
            margin-left: 0;
          }
        }
        &:hover {
          .ion {
            @include transform(translateX(50%));
          }
        }
        @include mobile-sm {
          padding: 15px 5px;
        }
        @include phone-portrait {
          padding: 5px;
          font-size: 10px;
        }
      }
    }
  }
}

.pag {
  float: right;
  margin-top: 60px;
  margin-bottom: 60px;
  @include desktop-sm {
    float: none;
    text-align: center;
  }
  .pagination>li>a {
    font-weight: 400;
    color: $grey;
    border: none;
    font-size: 16px;
    font-family: $first-font;
  }
  .pagination>li>span {
    color: $first-color;
  }
}
.pag-bot {
  float: right;
  margin-top: 45px;
  @include mobile-sm {
    float: none;
    text-align: center;
  }
  .pagination>li>a {
    font-weight: 400;
    color: $grey;
    border: none;
    font-size: 16px;
    font-family: $first-font;
  }
  .pagination>li>span {

  }
}
.bottom-banners {
  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 100px;
  .bg-01 {
    background: url("../images/banner-vendita.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    @include desktop-sm {
      margin-bottom: 30px;
    }
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .bg-02 {
    background: url("../images/banner-assistenza.jpg") no-repeat center center;
    background-size: cover;
    height: 400px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 30px $grey;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include transition(all 0.3s ease-in-out);
    @include align-items(baseline);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-end);
    &:hover {
      @include transform(scale(1.05));
    }
  }
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: white;
    font-weight: 500;
    @include desktop-sm {
      font-size: 21px;
    }
  }
}
/*=====HOVER COLLECTION========*/
.post{
  display: block;
  padding: 10px;
  @include transition(all 0.3s ease);
  &:hover{
    box-shadow: 0px 0px 30px #e1e1e1;
    @include transform(scale(1.02));
  }
  p{
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/*==========SCHEDA PROD======*/
.sp-wrap {
  max-width: 750px;
  text-align: center;
  border: none;
  background: #fff;
  z-index: 10;
  margin: 0;
  @include desktop-sm {
    max-width: 100%;
  }
  @include desktop {
    max-width: 520px;
  }
  img {
    border: 1px solid $light-grey;
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
  }
}
.sp-large {
  margin-bottom: 5px !important;
}
.sp-thumbs {
  display: block;
  
  // position: relative;
  // top: -140px;
  // @include desktop-sm {
  //   top: 0;
  // }
}
.sp-thumbs a:link {
  width: 180px;
  height: 130px;
  border: 2px solid $light-grey;
  margin-right: 5px;
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include mobile-sm {
    width: 100px;
    height: 50px;
  }
  @include phone-portrait {
    width: 50px;
    height: 30px;
  }
  @include desktop {
    width: 100px;
    height: 50px;
  }
}
.sp-thumbs a.sp-current {
  border: 2px solid $first-color;
}
.sp-thumbs a:visited, .sp-thumbs a:active, .sp-thumbs a:focus, .sp-thumbs a:hover {
  border: 2px solid $first-color;
}
.sp-lightbox {
  z-index: 1060;
}


.backTo {
  text-align: right;
  // margin-top: 45px;
  a {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
    display: block;
    font-size: 12px;
    font-weight: 500;
    .ion {
      @include transition(transform 0.2s ease-in-out);
    }
    &:hover {
      .ion {
        @include transform(translateX(-50%));
      }
    }
  }
  @include desktop-sm {
    display: none;
  }
}
.scheda-prodotto {
  margin-top: 100px;
  padding-bottom: 100px;
  .h2 {
    color: $second-color;
    font-weight: 500;
    font-size: 30px;
    margin-top: 0;
  }
  .rif {
    color: $grey;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
  }
  .cont-btns {
    margin-top: 30px;
    @include desktop-sm {
      margin-top: 60px;
    }
    .btn-01 {
      color: $second-color;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 500;
      background: white;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 15px #ddd;
      letter-spacing: 1px;
      font-family: $heading-font-family;
      @include desktop-sm {
        margin-bottom: 15px;
      }
      .ion {
        // margin-left: 10px;
        @include transition(transform 0.2s ease-in-out);
        @include mobile-sm {
          // margin-left: 0;
        }
      }
      &:hover {
        .ion {
          @include transform(translateX(50%));
        }
      }
      // @include mobile-sm {
      //   padding: 15px 5px;
      // }
      // @include phone-portrait {
      //   padding: 5px;
      //   font-size: 10px;
      // }
    }
    .btn-02 {
      color: white;
      padding: 15px;
      text-transform: uppercase;
      font-weight: 500;
      background: $first-color;
      letter-spacing: 1px;
      font-family: $heading-font-family;
      .ion {
        // margin-left: 10px;
        @include transition(transform 0.2s ease-in-out);
        @include mobile-sm {
          // margin-left: 0;
        }
      }
      &:hover {
        .ion {
          @include transform(translateX(50%));
        }
      }
      // @include mobile-sm {
      //   padding: 15px 5px;
      // }
      // @include phone-portrait {
      //   padding: 5px;
      //   font-size: 10px;
      // }
    }
  }
  p {
    color: $grey;
  }
  .gallery {
    @include desktop-sm {
      overflow: hidden;
    }
  }
  .info {
    @include desktop-sm {
      margin-top: 60px;
    }
  }
  .form-richiesta-info {
    @include transition(all 0.2s ease-in-out);
    overflow: hidden;
    height: 0;
    padding-top: 0;
    &.show {
      padding-top: 60px;
      height: 600px;
    }
    label {
      color: $second-color;
    }
    .form-control {
      height: 50px;
      color: $second-color;
      @include border-top-radius(4px);
      @include border-right-radius(4px);
      @include border-bottom-radius(4px);
      @include border-left-radius(4px);
      @include placeholder {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 12px;
      }
      &.textAreaHeight {
        height: 141px;
      }
    }
    .btn {
      margin-top: 42px;
      color: $second-color;
      background: white;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      font-family: $heading-font-family;
      padding: 15px 30px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 15px #ddd;
      .ion {
        @include transition(transform 0.2s ease-in-out);
      }
      &:hover {
        .ion {
          @include transform(translateX(50%));
        }
      }
      @include phone-portrait {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
      }
  }
  }
}
#myModal-shop {
  .modal-title {
    line-height: 18px;
    font-family: $first-font;
  }
  .go-cart {
    border: 1px solid $first-color;
    background: white;
    padding: 5px 20px;
    color: $first-color;
    text-transform: uppercase;
    .fa {
      margin-left: 10px;
    }
  }
  .tornaShop {
    border: 1px solid $first-color;
    background: $first-color;
    padding: 5px 20px;
    color: white;
    text-transform: uppercase;
    .fa {
      margin-right: 10px;
    }
  }
  p {
    &.prezzoOk {
      font-size: 22px;
    }
  }
}
.descrizione-cont {
  margin-top: 30px;
  .panel-default {
    > .panel-heading {
      background-color: $light-grey;
      border-color: $light-grey;
      color: $grey;
      &.activeState {
        background-color: $first-color;
        border-color: $first-color;
        .panel-title {
          > a {
            color: white;
          }
        }
      }
     .panel-title {
        font-size: 14px;
        > a {
          @include align-items(center);
          @include display(flex);
          @include justify-content(flex-start);
          color: $grey;;
          text-transform: uppercase;
          letter-spacing: 1px;
          .ion {
            font-size: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }
  .panel-body {
    padding: 35px 45px;
  }
}

.fb-share-button {
  margin-bottom: 6px;
}
.prods-correlati {
  margin-bottom: 100px;
  .borderedDiv {
    padding-top: 100px;
    border-top: 1px solid $light-grey;
  }
  .title {
    .h3 {
      font-size: 30px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 70px;
      @include desktop-sm {
        font-size: 24px;
      }
      @include desktop {
        font-size: 24px;
      }
    }
  }
  .prod {
    @include desktop-sm {
      margin-bottom: 30px;
    }
    .border-box {
      border: 1px solid #ddd;
      text-align: center;
      @include border-top-radius(8px);
      @include border-right-radius(8px);
      @include border-bottom-radius(8px);
      @include border-left-radius(8px);
      padding: 30px;
      @include transition(all 0.5s ease-in-out);
      @include phone-portrait {
        padding: 5px;
      }
      &:hover {
        border: none;
        background: $first-color;
        @include transform(scale(1.05));
        @include desktop-sm {
          @include transform(scale(1));
        }
        img {
          @include transform(translateZ(0));
        }
        .h3 {
          color: white;
        }
        .h5 {
          color: white;
        }
        p {
          color: white;
        }
        .btn {
          color: $second-color;
          background: white;
          .ion {
            @include transition(transform 0.2s ease-in-out);
          }
          &:hover {
            .ion {
              @include transform(translateX(50%));
            }
          }
        }
      }
      .h3 {
        font-size: 24px;
        color: $second-color;
        font-weight: 500;
        height: 50px;
        @include desktop-sm {
          height: 80px;
          font-size: 18px;
        }
      }
      .h5 {
        font-size: 12px;
        color: $first-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include mobile-sm {
          height: 50px;
        }
      }
      hr {
        border-color: $light-grey;
        @include phone-portrait {
          display: none;
        }
      }
      p {
        @include mobile-sm {
          display: none;
        }
      }
      .btn {
        color: white;
        padding: 15px;
        text-transform: uppercase;
        font-weight: 500;
        background: $first-color;
        letter-spacing: 1px;
        font-family: $heading-font-family;
        @include phone-portrait {
          @include border-top-radius(0);
          @include border-right-radius(0);
          @include border-bottom-radius(0);
          @include border-left-radius(0);
        }
        .ion {
          margin-left: 10px;
          @include transition(transform 0.2s ease-in-out);
          @include mobile-sm {
            margin-left: 0;
          }
        }
        &:hover {
          .ion {
            @include transform(translateX(50%));
          }
        }
        @include mobile-sm {
          padding: 15px 5px;
        }
        @include phone-portrait {
          padding: 5px;
          font-size: 10px;
        }
      }
    }
  }
}
/*========CONTATTI========*/
.top-contatti {
  padding-top: 100px;
  padding-bottom: 100px;
  .h3 {
    margin-top: 0;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $first-color;
  }
  .h4 {
    font-size: 30px;
    color: $second-color;
    font-weight: 500;
    margin-bottom: 60px;
    @include desktop-sm {
      font-size: 21px;
    }
  }
  label {
    color: $second-color;
  }
  .form-control {
    height: 50px;
    color: $second-color;
    @include border-top-radius(4px);
    @include border-right-radius(4px);
    @include border-bottom-radius(4px);
    @include border-left-radius(4px);
    @include placeholder {
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 12px;
    }
    &.textAreaHeight {
      height: 141px;
    }
  }
  .btn {
    margin-top: 42px;
    color: $second-color;
    background: white;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: $heading-font-family;
    padding: 15px 30px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px #ddd;
    .ion {
      @include transition(transform 0.2s ease-in-out);
    }
    &:hover {
      .ion {
        @include transform(translateX(50%));
      }
    }
    @include phone-portrait {
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.corpo-contatti {
  background: $light-grey;
  padding-top: 100px;
  padding-bottom: 60px;
  .title {
    .h3 {
      margin-top: 0;
      font-size: 14px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $first-color;
    }
    .h4 {
      font-size: 24px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 60px;
      @include desktop-sm {
        font-size: 21px;
      }
    }
  }
  .maps {
    margin-bottom: 40px;
    .framePadded {
      @include border-top-radius(8px);
      @include border-right-radius(8px);
      @include border-bottom-radius(8px);
      @include border-left-radius(8px);
      padding: 30px;
      background: white;
      border: 1px solid #ddd;
    }
    .h3 {
      margin-top: 40px;
      font-size: 12px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $first-color;
    }
    .h4 {
      font-size: 24px;
      color: $second-color;
      font-weight: 500;
      margin-bottom: 30px;
      @include desktop-sm {
        font-size: 21px;
      }
    }
    hr {
      margin-top: 50px;
      border-color: #ddd;
    }
  }
}
/*========LOGIN===========*/
.registrazione {
  margin-top: 90px;
  margin-bottom: 40px;
  .h2{
    margin-bottom: 30px;
    font-weight: 500;
    &.marginTop {
      margin-top: 90px;
    }
  }
  p {
    color: $grey;
    margin-bottom: 60px;
  }
  .clearMargin {
    display: block;
    margin-bottom: 60px;
  }
  .input-group-addon:last-child {
    border-left: none;
    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    background: white;
    font-size: 25px;
    color: $first-color;
  }
  .form-control {
    padding: 8px;
    transition: all 0.3s ease;
    border: 1px solid #cccccc;
    border-right: none;
    @include border-top-radius(0);
    @include border-right-radius(0);
    @include border-bottom-radius(0);
    @include border-left-radius(0);
    box-shadow: none;
    z-index: 1;
    height: 42px;
  }
  .btn-login {
    border: 1px solid $first-color;
    background: $first-color;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    &:hover, &:focus, &:visited, &:active {
      color: white;
    }
  }
  .btn-password {
    border: 1px solid $first-color;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: white;
  }
  .btn-registra {
    @extend .btn-login;
  }
  .login2 {
    @include desktop-sm {
      margin-top: 60px; 
    }
  }
  .btn-social {
    background: $light-grey;
    padding: 15px;
    color: $grey;
    @include mobile-sm {
      margin-top: 10px; 
    }
    .ion-social-facebook {
      color: #3b5998;
      font-size: 18px;
      position: relative;
      top:2px;
    }
    .ion-social-twitter {
      color: #55acee;
      font-size: 18px;
      position: relative;
      top:2px;
    }
    .ion-social-googleplus {
      color: #dd4b39;
      font-size: 18px;
      position: relative;
      top:2px;
    }
  }
}
/*========ADMIN=========*/

.slider-admin {
  max-width: 1920px;
  margin: 0 auto;
  .intro-slide {
    height: 480px;
    @include mobile-sm {
      height: 300px;
    }
    .slider {
      .btn {
        &:visited, &:active, &:focus {
          color: white;
        }
        &:hover{
          background: white;
          color: $first-color;
        }
      }
    }
  }
  .slide {
    background: url("../images/rosari/slide.jpg") no-repeat top center;
    @include mobile-sm {
      background-size: cover;
    }
    .caption {
      top: 55%;
      left: 0;
      @include transform(translateY(-50%));
      .h3 {
        color: white;
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 0;
        text-align: center;
        @include phone-portrait {
          font-size: 36px;
          line-height: 40px;
        }
      }
      .h5 {
        color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 100;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: $first-font;
      }
    }
  }
}
.content-admin {
  margin-top: 85px;
}
/*========ACCOUNT=========*/
.account-home {
  // @include desktop {
  //   min-height: 700px;
  // }
  // @include large-desktop {
  //   min-height: 700px;
  // }
  .nav-tabs {
    &.nav-justified {
      margin-bottom: 10px;
      > li {
        > a {
          text-transform: uppercase;
        }
      }
    }
  }
  label {
    font-weight: normal;
    text-transform: uppercase;
  }
  .scheda-account {
    .h4 {
      font-family: $first-font;
    }
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
    }
    .marginRow-dati {
      margin-top: 30px;
    }
    .radio-choice {
      .radio {
        display: inline;
        margin-right: 15px;
        input[type="radio"] {
          margin: 2px 0 0 -20px;
        }
      }
    }
  }
  
  .scheda-accesso {
    .h4{
      font-family: $first-font;
    }
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
    }
  }
  .scheda-ordini {
    .label {
      color: white;
    }
    p {
      margin-bottom: 0;
    }
    .h4{
      font-family: $first-font;
      text-transform: uppercase;
    }
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
    }
    .table {
      > thead {
        > tr {
          > th {
            vertical-align: bottom;
            border-bottom: 2px solid #dddddd;
            text-transform: uppercase;
            font-weight: normal;
          }
        }
      }
    }
  }
}
/*========CARRELLO============*/
.carrello {
  .h4 {
    font-family: $first-font;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .h5 {
    font-family: $first-font;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
  }
  th {
    font-weight: normal;
    text-transform: uppercase;
  }
  .img-carrello {
    max-width: 100%;
    width: 64px;
  }
  .form-control {
    height: 39px;
    &.diff-height {
      height: 42px;
    }
  }
  .input-group-addon {
    &:last-child {
      border-left: 1px solid #ccc;
      border-top: 0;
    }
  }
  .btn {
    border: 1px solid $first-color;
    background: $first-color;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    &:hover, &:visited, &:active, &:focus {
      color: white;
    }
    .textRight {
      text-align: right;
    }
  }
  .buono-sconto {
    span {
      margin-bottom: 30px;
      display: block;
    }
  }
  .totale-cart {
    @include phone-portrait {
      margin-bottom: 15px;
    }
    .h3 {
      margin-top: 30px;
    }
    .textRight {
      text-align: right;
      @include phone-portrait {
        text-align: center;
      }
    }
  }
  .btns-totale {
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      margin-right: 5px;
      &.btn-prosegui {
        background: #00B351;
        color: white;
        border: 1px solid #00B351;
      }
      @include phone-portrait {
        margin-bottom: 5px;
        width: 100%;
      }
    }
    .pullLeft {
      float: left;
    }
  }
}
/*=========CHECKOUT=====*/
.checkout {
  table {
    width: 100%;
  }
  .table-smart {
    overflow-x: auto; 
  }
  .h4 {
    font-family: $first-font;
    text-transform: uppercase;
  }
  label {
    font-weight: normal;
    line-height: 14px;
  }
  .pagamenti {
    margin-bottom: 40px;
  }
  .btns-totale {
    margin-top: 40px;
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      margin-right: 5px;
      &.btn-prosegui {
        background: #00B351;
        color: white;
        border: 1px solid #00B351;
      }
      @include desktop-sm {
        width: 100%;
        margin-bottom: 5px;
      }
      @include desktop {
        width: 100%;
        margin-bottom: 5px;
      }
    }
    .pullLeft {
      float: left;
    }
  }
  .totale-checkout {
    text-align: right;
    @include desktop-sm {
      margin-top: 50px;
      text-align: center;
    }
    @include desktop {
      margin-top: 50px;
      text-align: center;
    }
  }
  .radio-choice {
    .margin-radio {
      margin-bottom: 15px;
    }
    .radio {
      display: inline;
      margin-right: 30px;
      img {
        margin-left: 5px;
      } 
      input[type="radio"] {
        margin: 2px 0 0 -20px;
      }
    }
  }
}
.confirmed {
  .h4 {
    font-family: $first-font;
    text-transform: uppercase;
  }
  .btns-totale {
    margin-top: 40px;
    .btn {
      border: 1px solid $first-color;
      background: $first-color;
      padding-top: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: white;
      letter-spacing: 1px;
      margin-right: 5px;
    }
    .pullLeft {
      float: left;
    }
  }
}
/*========PRE-FOOTER======*/

/*========FOOTER========*/
.pre-footer {
  color: $grey;
  font-size: 12px;
  padding-bottom: 135px;
  @include desktop-up {
    padding-top: 60px;
  }
  @include desktop-sm {
    padding-bottom: 30px;
  }
  .input-group-addon:last-child {
    border-color: $light-grey;
    border-left: none;
    background: $light-grey;
    font-size: 25px;
    color: $grey;
  }
  .form-control {
    height: 50px;
    background: $light-grey;
    border: 1px solid $light-grey;
    border-right: none;
    color: #333;
    box-shadow: none;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder  {
       color: $grey;
    }
  }
  .btn {
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    height: 50px;
    line-height: 38px;
    @include desktop-sm {
      margin-top: 15px;
    }
  }
  hr {
    border-color: #222;
  }
  .margin-prefooter {
    margin-top: 90px;
    @include mobile-sm {
      margin-top: 30px;
    }
  }
  .h4 {
    font-size: 18px;
    font-weight: 500;
    color: $second-color;
    margin-bottom: 30px;
    @include desktop-sm {
      margin-top: 60px;
      margin-bottom: 15px;
    }
  }
  .h5 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    &.marginedH5 {
      margin-top: 30px;
      @include desktop-sm {
        margin-top: 60px;
        margin-bottom: 15px;
      }
    }
  }
  p {
    
  }
  ul {
    list-style: none;
    &.social-btm {
      margin-top: 50px;
      @include desktop-sm {
        text-align: center;
      }
      li {
        float: left;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        @include desktop-sm {
          display: inline-block;
          float: none;
          margin-right: 45px;
        }
        a {
          .ion {
            font-size: 18px;
            @include desktop-sm {
              font-size: 30px;
            }
          }
        }
      }
    }
    li {
      margin-bottom: 15px;
      a {
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:active, &:visited, &:focus {
          color: $grey;
        }
        &:hover {
          color: $first-color;
        }
      }
    }
  }
}
footer {
  border-top: 1px solid #ddd;
  height: 60px;
  line-height: 60px;
  @include desktop-sm {
    line-height: 20px;
    height: auto;
  }
  @include desktop {
    font-size: 11px;
  }
  p {
    color: $second-color;
  }
  a {
    color: $grey;
    &:active, &:visited, &:focus {
      color: $grey;
    }
    &:hover {
      color: white;
    }
  }
  .info {
    @include desktop-sm {
      text-align: center;
      padding: 15px;
    }
    p {
      font-weight: 500;
      margin-bottom: 0;
      span {
        color: $grey;
        font-weight: 300;
      }
    }
  }
  .logo-footer {
    @include desktop-sm {
      text-align: center;
      padding: 15px;
      margin-top: 15px;
    }
  }
  .credits {
    text-align: right;
    a {
      color: #ec0044;
    }
    @include desktop-sm {
      text-align: center;
      padding: 15px;
    }
  }
}
