// =============================================================================
// BROWSER FIXES
// =============================================================================
* {
    margin: 0;
    padding: 0;
	@include selection {
	  background-color: $first-color;
	  color: white;
	}
}
:focus {
	outline: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
}
.imgResponsive {
	max-width: 100%;
}

/*box overlay*/
.box-overlay {
    display: block;
    position: relative;
    margin: 0 auto;
}
.box-overlay {
	span {
		&.box-hover {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    opacity: 0;
		    background: rgba(241, 241, 241, 0.75);
		    -webkit-transition: all ease .5s;
		    -moz-transition: all ease .5s;
		    transition: all ease .5s;
		    left: 0;
		    z-index: 10;
		}
		&.box-hover {
			&:hover {
			    opacity: 1;
			}
			.box-hover-content {
			    position: absolute;
			    top: 50%;
			    left: 0;
			    width: 100%;
			    height: 20px;
			    margin-top: -12px;
			    text-align: center;
			    font-size: 20px;
			    color: #fff;
			    transform: translateY(-50%);
			}
		}
	}
}


// =============================================================================
// SELECTION & PLACEHOLDERS
// =============================================================================
.clearfix hr {
    border: none;
    margin: 40px 0;
}
/* COOKIE */
#cookiescript_injected{
	background-color: rgba($first-color, 0.5) !important;
	@include transition(all 0.3s ease);
	&:hover{
		background-color: rgba($first-color, 1) !important;
	}
	@include desktop-sm {
		position: fixed !important;
		bottom: 20px !important;
		left: auto !important;
		width: 300px !important;
		height: auto !important;
		right: 20px !important;
		float: none !important;
	}
}
// =============================================================================
// SPACERS
// =============================================================================
.no-padding {
	@include desktop-sm{	
		padding: 0;
		&-r{
			padding-right: 0;
		}
		&-l{
			padding-left: 0;
		}
	}
}
.hide-bg{
	background: none !important;
}
.img-block {
    width: 100%;
}
.pad-50 {
	padding: 10px;
}
// VALIGN =============================================================================

@include desktop-up{
	.h-align{
		&-center {
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
		}
		&-top {
			@include display(flex);
			@include align-items(flex-start);
			@include justify-content(flex-start);
		}
		&-bot {
			@include display(flex);
			@include align-items(flex-end);
			@include justify-content(flex-end);
		}
	}
	.v-align{
		&-center {
			@include display(flex);
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
		}
		&-left {
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-start);
			@include justify-content(flex-start);
		}
		&-right {
			@include display(flex);
			@include flex-direction(column);
			@include align-items(flex-end);
			@include justify-content(flex-end);
		}
	}
}
// =============================================================================
// PRELOADER
// =============================================================================
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 999999;
    /* makes sure it stays on top */
}
#status {
    width: 234px;
    height: 232px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url("../images/status.gif");
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -116px 0 0 -118px;
    /* is width and height divided by two */
}
// =============================================================================
// FORM
// =============================================================================
.iframe {
	// width: 100%;
	// height: 225px;
	// border: none;
	// margin-bottom: -5px;
}
.contatti {
    // width: 100%;
    // height: 530px;
    // border: none;
}

