// =============================================================================
// VARIABLES
// =============================================================================
$first-color: #d82533;
$first-color-dark: shade($first-color, 50%);
$first-color-light: tint($first-color, 60%);

$second-color:#0f2d70;
$second-color-dark: shade($second-color, 60%);
$second-color-light: tint($second-color, 60%);

$text-color: #1d1d1b;
$text-color-dark: shade($text-color, 30%);
$text-color-light: tint($text-color, 60%);

$quiet-color: #e9f2f4;
$quiet-color-dark: shade($quiet-color, 30%);
$quiet-color-light: tint($quiet-color, 60%);

$loud-color: #0F0B15;
$loud-color-dark: shade($loud-color, 30%);
$loud-color-light: tint($loud-color, 60%);

$heading-color: $first-color;
$heading-color-dark: shade($heading-color, 30%);
$heading-color-light: tint($heading-color, 60%);

$link-color: #555;
$link-hover-color: shade($link-color, 30%);
$link-visited-color: $link-color;

$first-font: 'Lato', sans-serif;
$first-font-size: 12px;
$first-font-weight: 300;

$second-font: sans-serif;

$fixed-font-family: $helvetica;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Poppins', serif;
$heading-font-weight: 300;

$grey: #666;
$light-grey: #f2f2f2;
// =============================================================================
// CORE
// =============================================================================
body {
  color: $text-color;
  font-size: $first-font-size;
  font-family: $first-font;
  font-weight: $first-font-weight;
  line-height: 1.6;
}

.link {
  color: $link-color;
  text-decoration: none;
  @include transition(all 0.3s ease);
  &:visited {
    color: $link-visited-color;
  }
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}
a {@include transition(all 0.3s ease);}
// a { @extend .link; }
i, em { @extend .italic; }
b, strong { @extend .bold; }
h1 { @extend .h1; margin: 1em 0 0.5em; }
h2 { @extend .h2; margin: 1em 0 0.5em; }
h3 { @extend .h3; margin: 1em 0 0.5em; }
h4 { @extend .h4; margin: 1em 0 0.5em; }
h5 { @extend .h5; margin: 1em 0 0.5em; }
h6 { @extend .h6; margin: 1em 0 0.5em; }
// p, ul, ol, pre { @extend .block-margins;}
ul { @extend .unordered-list; }
ol { @extend .ordered-list; }
pre, code { @extend .fixed; }

.imgResponsive{ max-width: 100% }


// =============================================================================
// TYPO
// =============================================================================



.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }
.first-font{ font-family: $first-font; }
.quiet { font-color: $quiet-color; }
.loud  { font-color: $loud-color; }
.uppercase { text-transform: uppercase; }
.italic { font-style: italic; }
.bold   { font-weight: 700; @extend .loud; }

.block-margins { margin: 1em 0; }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: 400;}
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
// .h1 { font-size: 400%; }
// .h2 { font-size: 250%; }
// .h3 { font-size: 200%; }
// .h4 { font-size: 180%; }
// .h5 { font-size: 130%; }
// .h6 { font-size: 100%; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }  