<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="Header01.ascx.vb" Inherits="Emmemedia.Controls.Common.Header.Header01" %>
<%@ Register Src="~/Controls/Common/Nav/NavMenu01.ascx" TagPrefix="uc1" TagName="NavMenu" %>
<asp:Panel ID="top_panel" runat="server" Visible="false">
    <iframe id="frm1" src="/admin/controlli/mn_top.aspx?tp=<%# lcase(MN)%>" allowtransparency="true" frameborder="0" scrolling="no" width="100%" height="33px"></iframe>
</asp:Panel>
<!-- ====================================== HEADER ====================================== -->
<header>
    <div class="topbar hidden-sm hidden-xs">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 no-padding">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/punti-vendita.htm">
                                <span>
                                    <svg version="1.1" id="punti-vendita" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                        <g id="XMLID_2_">
                                            <g id="XMLID_110_">
                                                <path id="XMLID_111_" class="st0" d="M19.8,9l-1.9-8.6C17.9,0.2,17.6,0,17.4,0h-5.7c0,0,0,0,0,0c0,0,0,0,0,0H8.4c0,0,0,0,0,0
			c0,0,0,0,0,0H2.6C2.4,0,2.1,0.2,2.1,0.5L0.2,9C0.1,9.3,0,9.7,0,10c0,1.1,0.8,2.1,1.8,2.4v7.1c0,0.3,0.3,0.6,0.6,0.6h15.3
			c0.3,0,0.6-0.3,0.6-0.6v-7.1c1-0.3,1.8-1.2,1.8-2.4C20,9.7,19.9,9.3,19.8,9z M14.2,1.1l0.9,8.9c0,0.7-0.6,1.3-1.3,1.3
			c-0.7,0-1.3-0.6-1.3-1.3c0,0,0,0,0,0c0,0,0,0,0,0l-0.2-8.8H14.2z M8.9,1.1h2.2l0.2,8.9c0,0,0,0,0,0c0,0.7-0.6,1.3-1.3,1.3
			c-0.7,0-1.3-0.6-1.3-1.3L8.9,1.1z M5.8,1.1h2L7.5,10c0,0,0,0,0,0c0,0,0,0,0,0c0,0.7-0.6,1.3-1.3,1.3c-0.7,0-1.3-0.6-1.3-1.3
			L5.8,1.1z M2.4,11.3C2.4,11.3,2.4,11.3,2.4,11.3L2.4,11.3c-0.7,0-1.3-0.6-1.3-1.3c0-0.2,0-0.4,0.1-0.5c0,0,0-0.1,0-0.1l1.8-8.2
			h1.6L3.8,9.9c0,0,0,0,0,0c0,0,0,0,0,0c0,0.2,0,0.4-0.1,0.5C3.5,11,3,11.3,2.4,11.3L2.4,11.3z M14.3,18.9h-2.7v-4.2h2.7V18.9z
			 M17.1,18.9h-1.6v-4.8c0-0.3-0.3-0.6-0.6-0.6H11c-0.3,0-0.6,0.3-0.6,0.6v4.8H2.9v-6.4c0,0,0,0,0,0c0,0,0.1,0,0.1,0
			c0.1,0,0.2-0.1,0.3-0.1c0,0,0.1,0,0.1-0.1c0.1-0.1,0.2-0.1,0.3-0.2c0,0,0.1-0.1,0.1-0.1c0.1-0.1,0.2-0.2,0.3-0.3
			c0.5,0.5,1.1,0.9,1.9,0.9c0.8,0,1.4-0.3,1.9-0.9c0.3,0.4,0.8,0.7,1.3,0.8c0.2,0,0.4,0.1,0.6,0.1c0.8,0,1.4-0.3,1.9-0.9
			c0.5,0.5,1.1,0.9,1.9,0.9c0.8,0,1.4-0.3,1.9-0.9c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.1,0.3,0.2
			c0,0,0.1,0,0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0V18.9z M17.6,11.3L17.6,11.3
			C17.6,11.3,17.6,11.3,17.6,11.3c-0.8,0-1.4-0.6-1.4-1.3c0,0,0,0,0,0c0,0,0,0,0,0l-0.9-8.8h1.6l1.8,8.2c0,0,0,0.1,0,0.1
			c0.1,0.2,0.1,0.4,0.1,0.5C18.9,10.7,18.3,11.3,17.6,11.3z M9,13.5H4.3c-0.3,0-0.6,0.3-0.6,0.6v3.4c0,0.3,0.3,0.6,0.6,0.6H9
			c0.3,0,0.6-0.3,0.6-0.6v-3.4C9.5,13.8,9.3,13.5,9,13.5z M8.4,17H4.9v-2.3h3.5V17z" />
                                            </g>
                                        </g>
                                    </svg>
                                </span>Punti Vendita </a>
                        </li>
                        <li>
                            <asp:HyperLink ID="lnkSterilfarmaClub" runat="server">

                                <span>
                                    <svg version="1.1" id="sterilfarma" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background: new 0 0 20 20;" xml:space="preserve">
                                        <path id="XMLID_3_" class="st0" d="M3.6,9.5V5.6c0-3,2.5-5.4,5.5-5.4c3,0,5.5,2.4,5.5,5.4v3.9c0,1.3-1.1,2.4-2.5,2.4
	c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5c0.8,0,1.5-0.7,1.5-1.5V5.6c0-2.5-2-4.5-4.5-4.5c-2.5,0-4.5,2-4.5,4.5v3.9
	C4.5,10.3,5.2,11,6,11c0.3,0,0.5,0.2,0.5,0.5c0,0.3-0.2,0.5-0.5,0.5C4.7,11.9,3.6,10.8,3.6,9.5z M7.4,6.5C7.2,6.6,7,6.7,6.8,6.8
	C6.4,7,6,7.3,5.9,7.7C5.8,8.1,6,8.4,6.2,8.6c0.4,0.5,1.4,1.8,2.8,1.8c0.4,0,0.8-0.1,1.4-0.4c1.2-0.7,2-2,2-3.5
	c0-0.6-0.1-1.2-0.3-1.7c-0.1-0.2-0.4-0.4-0.6-0.3C11.2,4.7,11,5,11.1,5.2c0.2,0.4,0.2,0.8,0.2,1.3c0,1.1-0.6,2.2-1.5,2.7
	C9.5,9.5,9.2,9.5,9,9.5c-0.7,0-1.5-0.7-2-1.4C6.9,8,6.9,7.9,6.8,7.9c0,0,0.1-0.1,0.5-0.3c0.2-0.1,0.4-0.2,0.6-0.3
	C9,6.7,10.1,6.2,10.3,5c0.2-1-0.2-1.6-0.5-2C9.2,2.5,8.3,2.2,7.3,2.4C7,2.4,6.8,2.7,6.9,2.9c0,0.3,0.3,0.4,0.5,0.4
	c0.7-0.1,1.3,0,1.6,0.4c0.3,0.3,0.4,0.7,0.3,1.2C9.2,5.5,8.4,6,7.4,6.5z M11.2,13.5c0.1,0,0.2,0.1,0.2,0.1c0.2,0,0.3-0.1,0.4-0.2
	c0.1-0.2,0.1-0.5-0.2-0.6c-0.5-0.3-0.8-0.6-1-0.9c-0.1-0.2-0.4-0.3-0.6-0.2c-0.2,0.1-0.3,0.4-0.2,0.6C10.1,12.7,10.6,13.1,11.2,13.5
	z M18.3,16.5c0,0.3-0.2,0.5-0.5,0.5l-0.5,0l0.3,0.7c0.1,0.2,0,0.5-0.2,0.6c-0.2,0.1-0.5,0-0.6-0.2l-0.2-0.5l-0.7,1.1
	c-0.5,0.8-1.3,1.3-2.2,1.3c-0.4,0-0.9-0.1-1.3-0.3c0,0,0,0,0,0c-0.6-0.3-1-0.9-1.2-1.5c-0.2-0.7-0.1-1.3,0.3-1.9l1.8-3
	c0.7-1.2,2.3-1.6,3.5-0.9c0,0,0,0,0,0c1.2,0.7,1.7,2.2,0.9,3.5L17.4,16l0.4,0C18.1,16,18.3,16.2,18.3,16.5z M15.7,17.1
	c-0.6,0.1-1.2,0-1.7-0.3c-0.5-0.3-0.9-0.7-1.1-1.2c0,0,0-0.1,0-0.1l-0.6,1.1c-0.2,0.4-0.3,0.8-0.2,1.2c0.1,0.4,0.4,0.8,0.8,1
	c0,0,0,0,0,0c0.8,0.4,1.8,0.2,2.2-0.6L15.7,17.1z M16.3,12.9C16.3,12.9,16.3,12.9,16.3,12.9c-0.8-0.4-1.8-0.2-2.2,0.6l-0.2,0.3
	c0,0,0,0,0,0c-0.3,0.4-0.3,0.9-0.1,1.4c0.1,0.3,0.4,0.6,0.7,0.8c0.4,0.2,0.8,0.3,1.2,0.2c0.4-0.1,0.8-0.4,1-0.7c0,0,0,0,0,0l0.2-0.3
	C17.3,14.3,17,13.4,16.3,12.9z M10.5,19.1H7.7l-3.5-4.6c2.2-0.5,3.6-1.3,4.1-2.3c0.1-0.2,0-0.5-0.2-0.6c-0.2-0.1-0.5,0-0.6,0.2
	c-0.3,0.6-1.2,1.4-4.1,2c0,0-0.1,0-0.1,0c-0.1,0-0.1,0.1-0.1,0.1c0,0-0.1,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2
	c0,0,0,0.1,0.1,0.1l4,5.3C7.2,19.9,7.3,20,7.3,20c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0,0,0,0,0,0h2.9c0.3,0,0.5-0.2,0.5-0.5
	C10.9,19.3,10.7,19.1,10.5,19.1z M15.2,14.6c-0.2-0.1-0.5,0-0.6,0.2c-0.1,0.2,0,0.5,0.2,0.6l0,0c0.1,0,0.1,0,0.2,0
	c0.2,0,0.3-0.1,0.4-0.3C15.5,15,15.5,14.7,15.2,14.6z" />
                                    </svg>
                                </span>Accedi a Sterilfarma Club
                            </asp:HyperLink>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav navbar-right hide">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ITA &nbsp; <i class="ion ion-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">ENGLISH</a></li>
                                <li><a href="#">ESPA&Ntilde;OL</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 no-padding">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Cerca all'interno del sito" aria-describedby="basic-addon1">
                        <a class="input-group-addon" id="basic-addon1"><span class="ion ion-search"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="210" version="1.1" x="0px" y="0px" viewBox="0 0 241 52" xml:space="preserve" enable-background="new 0 0 241 52">
                        <path class="st0" d="M39.7 7.4c-0.1-0.5-0.1-0.6-0.4-0.7 -0.9-0.1-2.2-0.4-4.2-0.4 -2.5 0-3.9 0.4-5.2 1.3 -0.4 0.3-1.7 1.3-1.7 3.4 0 1.1 0.1 3 3.6 4.3 4 1.6 4.6 1.9 4.6 3 0 1.2-0.9 1.8-2.5 1.8 -0.9 0-2.4-0.3-3.8-1 -0.1-0.1-0.9-0.6-0.9-0.6 -0.1 0-0.2 0-0.3 0.1l-0.6 0.3C28 19.2 28 19.3 28 19.7l0.1 1.8c0 0.4 0.1 0.5 0.4 0.6 1.5 0.3 3 0.5 4.4 0.5 2.2 0 3.4-0.4 3.9-0.6 3.3-1.1 3.7-3.5 3.7-4.5 0-3-2.7-4.1-4.8-5 -2.6-1-3.5-1.4-3.5-2.3 0-1.6 2-1.6 2.3-1.6 0.8 0 2.2 0.1 3.5 0.7 0.1 0.1 0.7 0.4 0.8 0.4 0.1 0 0.2-0.1 0.3-0.1l0.6-0.4c0.2-0.1 0.2-0.2 0.2-0.6L39.7 7.4zM41.2 6.7V9H47v13.3h4.5V9h5.9V6.7H41.2zM69.7 15v-1.8h-6.9V8.7h7.7V6.9H58.9V22h12v-2h-8V15H69.7zM111.2 6.7v15.6h4.5v-6.9h6.6V13h-6.6V9h7.9V6.7H111.2zM128.3 16.1l2.2-5.4 2 5.4H128.3zM133.2 6.7h-3.5l-7.5 15.6h3.6l1.6-3.9h5.7l1.4 3.9h5.1L133.2 6.7zM147 13.7c-0.5 0-1 0-1.6 0v-5l1.6 0c1.7 0 2.9 0.4 2.9 2.3C149.9 13.2 148.8 13.7 147 13.7M156.4 20.8c-2.5-0.4-4.6-4.2-5.4-5.7 3-0.8 3.6-2.8 3.6-4.1 0-1.3-0.6-2.4-1.5-3.2 -1.3-1.1-3.1-1.2-5.3-1.2 -0.5 0-0.8 0-3.2 0.1 -1.2 0-2.4 0-3.6 0v15.6h4.3v-6.6h1.1c2.6 5.5 4.5 6.9 7.4 6.9 0.8 0 1.6-0.1 2.1-0.3 0.2 0 0.3-0.1 0.3-0.4l0.1-1L156.4 20.8zM185 16.1l2.2-5.4 1.9 5.4H185zM190 6.7h-3.5l-7.5 15.6h3.6l1.6-3.9h5.7l1.4 3.9h5.1L190 6.7zM194.6 42.1c-1.2-0.3-2 0.3-2 1.5 0 1.2 0.8 2.2 2 2.4 1.2 0.3 2-0.3 2-1.5C196.6 43.4 195.8 42.4 194.6 42.1M226.9 40.2c-1.2 0.5-2.1 1.6-2.1 2.8 0 1.1 0.8 1.6 2.1 1.1 1.2-0.5 2-1.6 2-2.8C228.9 40.1 228.1 39.7 226.9 40.2M94.6 6.9h-4V22h4V6.9zM102.4 6.9h-4V22H109v-2h-6.6V6.9zM79.3 14c-0.2 0-0.5 0-0.8 0 -0.3 0-0.6 0-0.9 0h-0.3V8.4l1.9 0c1.4 0 3.1 0.3 3.1 2.5C82.4 13.6 80.8 14 79.3 14M83 15.2l-0.2-0.3 0.3-0.1c3-0.8 3.5-2.8 3.5-3.9 0-1.2-0.5-2.2-1.4-3 -1.3-1.1-2.9-1.2-5.1-1.2 -0.5 0-0.8 0-3.2 0.1 -0.6 0-1.2 0-1.8 0 -0.5 0-1.1 0-1.6 0V22h3.8v-6.6h1.6l0.1 0.1c2.6 5.7 4.6 6.8 7.2 6.8 0.8 0 1.5-0.1 2.1-0.3l0.1 0c0 0 0 0 0-0.1l0.1-0.9C85.9 20.5 83.7 16.5 83 15.2M237.9 38.4l-1.4 1 -3.6-1.4v4.1l-1.6 1.2v-6.5l1.5-1.1 3.4 1.4v-4l1.6-1.2V38.4zM226.9 45.5c-2.4 0.9-3.7-0.2-3.7-1.8 0-1.6 1.3-3.8 3.7-4.8 2.4-1 3.7 0.3 3.7 1.8C230.6 42.3 229.2 44.5 226.9 45.5M221.9 47l-1.6 0.4V41l1.6-0.4V47zM219.2 42.5l-2.3 0.3v5.3l-1.6 0.2v-5.3l-2.3 0.3v-1.2l6.3-0.8V42.5zM211.8 45.8c0 2.1-1.5 2.9-3.2 2.9 -1.9 0-3.2-0.8-3.2-2.8v-3.7h1.6V46c0 0.9 0.7 1.4 1.6 1.4 0.8 0 1.6-0.5 1.6-1.6v-3.6l1.6 0V45.8zM204.3 48.7l-4.9-0.5v-6.4l1.6 0.1v5.3l3.3 0.3V48.7zM194.6 47.4c-2.4-0.5-3.7-2.5-3.7-4.1 0-1.6 1.3-3 3.7-2.4 2.4 0.6 3.7 2.6 3.7 4.1C198.3 46.6 196.9 47.9 194.6 47.4M187.7 45.2l-2.7-6.8v0.5l-3.1-2.2v1.4l3 2.1v1.2l-3-2.1v1.6L185 43v1.2l-4.8-3.3v-6.4l4.5 3.1 1.6 0.6 1.7 4.3 1.6-3 1.7 0.7 -3 5.3L187.7 45.2zM170.4 17.3L173 12l0.2 6.2C172.2 17.7 171.3 17.4 170.4 17.3M160.9 21.7v-9.8l3.3 7C163 19.6 161.9 20.5 160.9 21.7M185.3 30.5c-1.7-1.7-3.9-5.1-5.5-6.9 -0.7-0.8-1.4-1.5-2.1-2.2L177 6.7h-3.9L168 17.3c0 0-0.1 0-0.1 0l-5.1-10.6h-3.9l-1 15.6h2.6c-5.5 6.2-9.9 15.9-15.9 16.4 -0.5 0-1-0.1-1.5-0.3 -6.4-2.2-12.2-7-18.3-10 -5.5-2.7-10.5-4.8-15.1-6.4v0.5H97.9v-4.1c-0.9-0.2-1.9-0.4-2.8-0.6v4.6h-5v-5.4c-1.9-0.2-3.8-0.3-5.5-0.3 1.5 2.3 2.9 3.6 4.2 3.8l0.1 0 0.2 0.3L88.9 22c0 0.3-0.1 0.5-0.5 0.6 -0.5 0.2-1.4 0.3-2.2 0.3 -3 0-4.9-1.5-7.1-5.9 -0.4 0-0.8 0.1-1.2 0.1v5.4h-4.8v-4.6c-2.2 0.4-4.3 1-6.5 1.6h4.8v3H58.4v-0.4c-8.9 3-19.1 6.4-33.5 8.1C22.5 30.5-9 34.9 4.4 22.4c0 0-4.9 2.8-4.3 7 1.7 11.7 19.3 8.3 25.6 7.6 43-5 47.7-25.6 96-2.4 8.7 4.2 17.2 11.6 23.4 11v0c4.4-0.3 9.1-6.1 14.5-11.6 8.8-9.1 11.9 2.1 17.9 8.2 13.9 13.9 49 12.9 63.6-1.6V17.4C234 30.6 196.5 41.8 185.3 30.5M192.9 5.1V1.2h1.7c0.3 0 0.6 0 0.8 0.1 0.2 0.1 0.3 0.2 0.4 0.4 0.1 0.2 0.2 0.4 0.2 0.6 0 0.3-0.1 0.5-0.3 0.7 -0.2 0.2-0.5 0.3-0.8 0.4 0.1 0 0.2 0.1 0.3 0.2 0.1 0.1 0.3 0.3 0.4 0.5l0.7 1.1h-0.6l-0.5-0.8c-0.2-0.2-0.3-0.4-0.4-0.5 -0.1-0.1-0.2-0.2-0.3-0.3 -0.1 0-0.2-0.1-0.2-0.1h-0.3 -0.6v1.7H192.9zM193.4 2.9h1.1c0.2 0 0.4 0 0.5-0.1 0.1 0 0.2-0.1 0.3-0.2 0.1-0.1 0.1-0.2 0.1-0.3 0-0.2-0.1-0.3-0.2-0.5 -0.1-0.1-0.3-0.1-0.6-0.1h-1.2V2.9zM194.3 0c1.7 0 3.2 1.4 3.2 3.1 0 1.7-1.4 3.1-3.2 3.1 -1.7 0-3.2-1.4-3.2-3.1C191.1 1.4 192.5 0 194.3 0M194.3 0.4c-1.5 0-2.7 1.2-2.7 2.7 0 1.5 1.2 2.7 2.7 2.7 1.5 0 2.7-1.2 2.7-2.7C197 1.7 195.8 0.4 194.3 0.4" />
                    </svg>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <uc1:NavMenu runat="server" ID="navMenu1" provincia="<%# _Provincia%>" testo="<%# _content.PK_CODICE%>" MN="#MN_CONT#" />

                <ul class="nav navbar-nav navbar-right social">
                    <li><a href="https://www.facebook.com/SterilFarmaItalia/?fref=ts" target="_blank"><span class="ion ion-social-facebook"></span></a></li>
                    <li><a href="https://twitter.com/sterilfarma_it" target="_blank"><span class="ion ion-social-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/sterilfarma/" target="_blank"><span class="ion ion-social-instagram"></span></a></li>
                    <!--
                    <li><a href="#"><span class="ion ion-social-google"></span></a></li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>