﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="HeaderMaster.ascx.vb" Inherits="Emmemedia.Controls.Common.Header.HeaderMaster" %>
<%@ Reference Control="~/Controls/Common/Header/Header01.ascx" %>
<%@ Reference Control="~/Controls/Common/Header/Header02.ascx" %>
<%@ Reference Control="~/Controls/Common/Nav/NavMenu01.ascx" %>
<%@ Reference Control="~/Controls/Common/Nav/NavMenu02.ascx" %>
<%@ Reference Control="~/Controls/Common/Nav/NavMenuTop.ascx" %>

        <asp:PlaceHolder ID="PH" runat="server"></asp:PlaceHolder>
    